.assignments {
    height: 750px;
    width: 750px;
    overflow:scroll;
    -ms-overflow-style: none;
    background-color: lightgray;
    margin-left: 40%;
}

.add-assign{
    margin-left: 40%;
}
.assignments::-webkit-scrollbar{ display:none; }

