@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;900&display=swap');
.a{
    color: red;
}
.b{
    color:orange;
}
.c{
    color:blue
}
.d{
    color: black;
}
.input-hidden {
    position: absolute;
    left: -9999px;
  }
/* .taskItem{
    background-color: aqua;
} */
.taskItem{
    font-family: 'Noto Sans KR', sans-serif;
    padding-left: 20px;
    background-color: #fdf3f2;
    border-radius: 20px;
    border-color: black;
    border-width: 10px;
    margin-bottom: 10px;
    margin-right: 1000px;
}