.assignments {
    height: 750px;
    width: 750px;
    overflow:scroll;
    -ms-overflow-style: none;
    background-color: lightgray;
}

.assignments::-webkit-scrollbar{ display:none; }

#classpage {
    width: 30%;
    border-color: white;
    text-align: center;
}
