.my-card-content4 {
    padding: 16px;
    height: 70%;
  }
  .card-header .MuiCardHeader-subheader{
    margin-top: 3px;
    margin-left: 3px;
  }
  
  .card-header {
    border-bottom: 1px solid gray;
  }

  .my-card4 {
    height: 350px;
    width: 700px;
    margin: 1% auto;
  }

  .assignments {
    height: 750px;
    width: 750px;
    overflow:scroll;
    -ms-overflow-style: none;
    background-color: lightgray;
}